<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      ​<picture>
        <img src="../assets/newLogo.PNG" class="img-fluid img-thumbnail" alt="..." style="height: 30px;">
      </picture>
    Hash Generator - SHA 256 by <i>DKRM</i>
  </a>
</nav>
<br/>
<div class="form-group container-fluid">
  <label for="comment">Enter your text:</label>
  <textarea class="form-control" rows="2" id="comment" (input)="onSearchChange($event.target.value)">{{text}}</textarea>
</div>
<div class="input-group mb-3 container-fluid">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Hash code - SHA256</button>
  </div>
  <p class="form-control" style="overflow: auto;" id="output">{{output}}</p>
</div>
<div class="container-fluid">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
        <label class="form-check-label" for="inlineRadio1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
        <label class="form-check-label" for="inlineRadio2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
        <label class="form-check-label" for="inlineRadio3">3</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioa" value="a">
          <label class="form-check-label" for="inlineRadio1">a</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadiob" value="b">
          <label class="form-check-label" for="inlineRadio2">b</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioc" value="c">
          <label class="form-check-label" for="inlineRadio3">c</label>
        </div>
    <button type="button" class="btn btn-primary">Generate Nonce</button>
    <p class="form-control" style="overflow: auto;" id="output">{{nonce}}</p>
    <p class="form-control" style="overflow: auto;" id="output">{{nonceOutput}}</p>
</div>
<div class="col-sm-12 text-center">
  <img src="../assets/newLogo.PNG" alt="My Logo" class="img-responsive" />
</div>